<div class="page__title">
    <h1 class="text-5xl">Settings</h1>
</div>

<div class="page__content">
    <p-tabView styleClass="surface-ground">
        <p-tabPanel header="Overview" rightIcon="pi pi-wrench">
            <p class="surface-ground">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magni suscipit sit impedit non
                ipsam, perferendis error veritatis perspiciatis fugiat accusamus praesentium nesciunt beatae. Explicabo
                sint placeat animi velit ex.
            </p>
        </p-tabPanel>
        <p-tabPanel header="Profiles" rightIcon="pi pi-users">
            <ng-template pTemplate="content">
                <abby-profile-settings></abby-profile-settings>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>