:host ::ng-deep .p-tabview {
	background: var(--surface-ground);
}

:host ::ng-deep .p-tabview-nav {
	background: var(--surface-ground);
}

:host ::ng-deep .p-tabview-nav-link {
	background: var(--surface-ground);
}

:host ::ng-deep .p-tabview-panels {
	background: var(--surface-ground);
}
