<div class="grid">
    <div class="col-12 md:col-4">
        <p-panel [toggleable]="true" toggler="header">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-user"></i>
                    <span class="font-bold">
                        Prerequisites
                    </span>
                </div>
            </ng-template>
            <div class="d-flex align-items-center">
                <p class="me-2">
                    Make sure you have installed and setup <span class="fw-bold">ADB (Android Debugging Bridge)</span>
                    on your machines!
                </p>

                <img ngSrc="images/emotes/T_ChatEmo_A_04.webp" alt="YangYang Okay emote" height="64" width="64"
                    priority>
            </div>
        </p-panel>
    </div>

    <div class="col-12 md:col-4">
        <p-panel [toggleable]="true" toggler="header">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-list-check"></i>
                    <span class="font-bold">
                        Steps
                    </span>
                </div>
            </ng-template>
            <ul>
                <li>Ensure <span class="fw-bolder">ADB</span> is installed properly configured.</li>
                <li>Copy the command below</li>
                <li>Open your terminal and paste the command you copied.</li>
                <li>Press <code>Enter</code></li>
            </ul>
        </p-panel>
    </div>

    <div class="col-12 md:col-4">
        <p-panel [toggleable]="true" toggler="header">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-lock"></i>
                    <span class="font-bold">
                        Safety Assurance
                    </span>
                </div>
            </ng-template>
            <div class="d-flex align-items-center">
                <p class="me-2">
                    Rest assured, Wubby confirms these scripts are designed solely to extract the URL needed to import
                    your game history. They do not make any changes to your device or access any personal information.
                </p>

                <img ngSrc="images/emotes/T_ChatEmo_F_01.webp" alt="Danjin Okay emote" height="64" width="64" priority>
            </div>
        </p-panel>
    </div>

    <div class="col-12">
        <p-panel [toggleable]="true" toggler="header">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-code"></i>
                    <span class="font-bold">
                        Command
                    </span>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col-12 hidden md:block">
                    <p-messages [value]="warningMessage" [closable]="true"></p-messages>
                    <pre><code [highlight]="bashScript" language="sh"></code></pre>
                </div>
                <div class="col-12 block md:hidden">
                    <p-messages [value]="warningMessage" [closable]="true"></p-messages>
                    <p-inplace>
                        <ng-template pTemplate="display">
                            <span>View Command Content</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <span>
                                <pre><code [highlight]="bashScript" language="sh"></code></pre>
                            </span>
                        </ng-template>
                    </p-inplace>
                </div>
                <div class="col-auto">
                    <p-button label="Copy Command" icon="pi pi-copy" class="w-full" (click)="copyCommand()"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
</div>