<div class="page__title">
    <h1 class="text-5xl">Contribute</h1>
</div>

<div class="page__content">
    <div class="grid">
        <div class="col-12 md:col-9">
            <p-card styleClass="h-100">
                <div class="grid p-4 py-2">
                    <div class="col">
                        <h2>Found a typo?</h2>
                        <p class="text-five-star">Doesn't require coding! <i class="pi pi-sparkles"></i></p>
                    </div>
                    <div class="col-auto align-content-center">
                        <p-button label="Edit on Wubby" icon="pi pi-pencil" iconPos="right" styleClass="my-auto"
                            routerLink="existing" />
                    </div>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-3">
            <p-card styleClass="h-100">
                <div class="p-4 text-center">
                    <p>Help us keep everything accurate! Make changes to existing content
                        <span class="text-four-star">without any coding</span>
                    </p>
                </div>
            </p-card>
        </div>

        <div class="col-12 md:col-9">
            <p-card>
                <div class="grid p-4 py-2">
                    <div class="col">
                        <h2>Missing information?</h2>
                        <p class="text-five-star">Doesn't require coding! <i class="pi pi-sparkles"></i></p>
                    </div>
                    <div class="col-auto align-content-center">
                        <p-button label="Edit on Wubby" icon="pi pi-pencil" iconPos="right" styleClass="my-auto"
                            routerLink="new" />
                    </div>
                </div>
            </p-card>
        </div>
        <div class="col-12 md:col-3">
            <p-card styleClass="h-100">
                <div class="p-4 text-center">
                    <p>Got more info? Submit details for characters or content.
                        <span class="text-four-star">No coding required!</span>
                    </p>
                </div>
            </p-card>
        </div>

        <div class="col-12">
            <p-card>
                <div class="grid p-4">
                    <div class="col">
                        <h2>Want to contribute code?</h2>
                        <p>Join our development! Check out the GitHub repository here.</p>
                    </div>
                    <div class="col-auto align-content-center">
                        <a href="https://github.com/wuwa-abby/wuwa-abby-site" target="_blank">
                            <p-button label="View on GitHub" icon="pi pi-github" iconPos="right" styleClass="my-auto" />
                        </a>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>