<div class="page__title">
    <h1 class="text-5xl">Contribute</h1>
</div>

<div class="page__content">
    <div class="grid">
        <div class="col">
            <p-card>
                <div class="grid p-4">
                    <div class="col">
                        <h2>Found a typo?</h2>
                        <p class="text-five-star">Doesn't require coding! <i class="pi pi-sparkles"></i></p>
                    </div>
                    <div class="col-auto align-content-center">
                        <p-button label="Edit on Wubby" icon="pi pi-pencil" iconPos="right" styleClass="my-auto"
                            routerLink="existing" />
                    </div>
                </div>
            </p-card>
        </div>
        <div class="col">
            <p-card>
                <div class="grid p-4">
                    <div class="col">
                        <h2>Missing information?</h2>
                        <p class="text-five-star">Doesn't require coding! <i class="pi pi-sparkles"></i></p>
                    </div>
                    <div class="col-auto align-content-center">
                        <p-button label="Edit on Wubby" icon="pi pi-pencil" iconPos="right" styleClass="my-auto"
                            routerLink="new" />
                    </div>
                </div>
            </p-card>
        </div>
        <div class="col">
            <p-card>
                <div class="grid p-4">
                    <div class="col">
                        <h2>Want to contribute code?</h2>
                        <p class="text-four-star">Requires coding <i class="pi pi-desktop"></i></p>
                    </div>
                    <div class="col-auto align-content-center">
                        <a href="https://github.com/wuwa-abby/wuwa-abby-site" target="_blank">
                            <p-button label="View on GitHub" icon="pi pi-github" iconPos="right" styleClass="my-auto" />
                        </a>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>