<div class="overview grid">
    <div class=" overview__details col-12 md:col-6">
        <p-breadcrumb class="max-w-full" [model]="breadcrumbs" />

        <ng-container *ngIf="resonator; else resonatorErrorTpl">
            <ng-container *ngTemplateOutlet="resonatorDetailTpl"></ng-container>
        </ng-container>
    </div>
    <div class="col-12 md:col-6 position-relative">
        @if (resonator) {
        <img class="overview__resonator-image position-absolute bottom-0 right-0 d-none md:block"
            [ngSrc]="'images/characters/T_IconRole_Pile_' + resonator.imageName + '_UI.png'" [alt]="resonator.name" fill
            priority>
        } @else {
        <img class="overview__resonator-image position-absolute bottom-0 right-0 d-none md:block"
            ngSrc="images/characters/T_IconRole_Pile_zhujue_UI.png" alt="Rover" fill priority>
        }
    </div>
</div>

<ng-template #resonatorErrorTpl>
    <h2 class="text-2xl mb-0 text-danger user-select-none">Error {{resonatorStatus}}</h2>
    <h1 class="text-6xl mt-0">{{resonatorError}}</h1>

    <div class="row mt-4">
        <div class="col-8 xl:col-4">
            <p-button label="Report Issue" icon="pi pi-github" iconPos="right" styleClass="w-full" />
        </div>
        <div class="col-4 xl:col-2">
            <p-button label="Go Back" icon="pi pi-arrow-left" iconPos="right" styleClass="w-full" severity="secondary"
                routerLink="../.." />
        </div>
    </div>
</ng-template>

<ng-template #resonatorDetailTpl>
    @if(resonator){
    <h1 class="text-6xl overview__resonator-title my-0">
        {{resonator.name}}
        <img class="overview__resonator-attribute my-auto"
            [ngSrc]="'images/elements/T_IconElement' + resonator.attribute + '.png'" [alt]="resonator.attribute"
            height="48" width="48" [pTooltip]="resonator.attribute" tooltipPosition="bottom" />
    </h1>
    <p class="overview__resonator-rarity my-0 text-{{resonator.rarity}}-star">
        <i *ngFor="let _ of [].constructor(resonator.rarity)" class="pi pi-star-fill"></i>
    </p>
    <p class="text-lg w-75">{{resonator.bio}}</p>

    <!-- <div class="row mt-4">
        <div class="col-8 xl:col-4">
            <p-button label="Edit" icon="pi pi-pencil" iconPos="right" styleClass="w-full" routerLink="edit" />
        </div>
        <div class="col-4 xl:col-2">
            <p-button label="Go Back" icon="pi pi-arrow-left" iconPos="right" styleClass="w-full" severity="secondary"
                routerLink="../.." />
        </div>
    </div> -->
    }
</ng-template>