<form [formGroup]="updateForm">
    <div class="page__title py-4">
        <p-breadcrumb [model]="breadcrumbs" styleClass="mb-0" />

        <div class="sm:block md:flex justify-content-between align-items-center ">
            @if(!resonatorDetail.error) {
            <div class="text-5xl">Update Resonator</div>
            }
            @else {
            <div class="text-5xl">{{resonatorDetail.message}}</div>
            }
            <div class="flex align-items-center gap-2">
                <p-button label="Suggest changes" icon="pi pi-check" iconPos="right" severity="primary"
                    [disabled]="updateForm.invalid || updateForm.pristine" (onClick)="isSubmitting = true" />
                <p-button label="Go back" icon="pi pi-arrow-left" iconPos="right" routerLink="../.."
                    severity="secondary" />
            </div>
        </div>
    </div>

    <div class="page__content mt-2">
        <div class="formgrid grid row-gap-2">
            <div class="col-12 md:col-6 lg:col-4">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-name">Name</label>
                    <input class="outline-none focus:border-primary" pInputText id="resonator-name"
                        aria-describedby="resonator-name-help" formControlName="name" />
                    <small class="resonator__data-additional-info" id="resonator-name-help">
                        The name of the resonator. Please raise an issue if you think the name should be changed.
                    </small>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-nickname">Nickname</label>
                    <input class="outline-none focus:border-primary" pInputText id="resonator-nickname"
                        aria-describedby="resonator-nickname-help" formControlName="nickname" />
                    <small class="resonator__data-additional-info" id="resonator-nickname-help">
                        The nickname of the resonator. This is the name that will be displayed on the detail page.
                    </small>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-gender">Gender</label>
                    <p-selectButton [options]="genderOptions" formControlName="sex" optionLabel="label"
                        optionValue="value" id="resonator-gender" />
                    <small class="resonator__data-additional-info" id="resonator-gender-help">
                        The gender of the resonator. This will be displayed on multiple places.
                    </small>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-quality">Rarity</label>
                    <p-selectButton [options]="rarityOptions" formControlName="rarity" optionLabel="label"
                        optionValue="value" id="resonator-quality">
                        <ng-template let-item pTemplate>
                            <div class="p-button-label">
                                <div class="text-{{item.value}}-star">
                                    {{ item.label }}
                                </div>
                                <div>{{item.value}} Star</div>
                            </div>
                        </ng-template>
                    </p-selectButton>
                    <small class="resonator__data-additional-info" id="resonator-quality-help">
                        The rarity of the resonator. This will be displayed on multiple places.
                    </small>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-weaponOfChoice">Weapon Of Choice</label>
                    <p-selectButton [options]="filterWeaponTypes" formControlName="weaponOfChoice" optionLabel="label"
                        optionValue="value" id="resonator-weaponOfChoice">
                        <ng-template let-item pTemplate>
                            <div class="p-button-label">
                                <img class="filter__weapon-icon"
                                    [ngSrc]="'images/weapons/weapons-type/T_IconNor' + item.label + '.png'"
                                    [alt]="item.label" height="24" width="24" />
                                <div>{{ item.label }}</div>
                            </div>
                        </ng-template>
                    </p-selectButton>
                    <small class="resonator__data-additional-info" id="resonator-weaponOfChoice-help">
                        The weapon of choice of the resonator. This will be displayed on multiple places.
                    </small>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-birthday">Birthday</label>
                    <input class="outline-none focus:border-primary" pInputText id="resonator-birthday"
                        aria-describedby="resonator-birthday-help" placeholder="January 1st"
                        formControlName="birthday" />
                    <small class="resonator__data-additional-info" id="resonator-birthday-help">
                        The birthday of the resonator. This will be displayed on the detail page.
                    </small>
                </div>
            </div>
            <div id="resonator-bio-container" class="col-12">
                <div class="resonator__data-container flex flex-column gap-2">
                    <label for="resonator-bio">Bio</label>
                    <textarea rows="5" pInputTextarea id="resonator-bio" aria-describedby="resonator-bio-help"
                        placeholder="January 1st" formControlName="bio">
                            </textarea>
                    <small class="resonator__data-additional-info" id="resonator-bio-help">
                        Biography of the resonator. This is the description that will be displayed on the detail page.
                    </small>
                </div>
            </div>
            <div class="col-12">
                <form formGroupName="voiceActors">
                    <div class="resonator__data-container grid">
                        <div class="col-12">
                            <label>Voice Actors</label>
                        </div>

                        <!-- CN, JP, EN, KO -->
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="resonator__data-container flex flex-column gap-2">
                                <label for="resonator-voice-actor-cn">Chinese</label>
                                <input class="outline-none focus:border-primary" pInputText
                                    id="resonator-voice-actor-cn" aria-describedby="resonator-voice-actor-cn-help"
                                    formControlName="CN" />
                                <small class="resonator__data-additional-info" id="resonator-voice-actor-cn-help">
                                    The Chinese voice actor of the resonator.
                                </small>
                            </div>
                        </div>

                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="resonator__data-container flex flex-column gap-2">
                                <label for="resonator-voice-actor-jp">Japanese</label>
                                <input class="outline-none focus:border-primary" pInputText
                                    id="resonator-voice-actor-jp" aria-describedby="resonator-voice-actor-jp-help"
                                    formControlName="JP" />
                                <small class="resonator__data-additional-info" id="resonator-voice-actor-jp-help">
                                    The Japanese voice actor of the resonator.
                                </small>
                            </div>
                        </div>

                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="resonator__data-container flex flex-column gap-2">
                                <label for="resonator-voice-actor-en">English</label>
                                <input class="outline-none focus:border-primary" pInputText
                                    id="resonator-voice-actor-en" aria-describedby="resonator-voice-actor-en-help"
                                    formControlName="EN" />
                                <small class="resonator__data-additional-info" id="resonator-voice-actor-en-help">
                                    The English voice actor of the resonator.
                                </small>
                            </div>
                        </div>

                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="resonator__data-container flex flex-column gap-2">
                                <label for="resonator-voice-actor-ko">Korean</label>
                                <input class="outline-none focus:border-primary" pInputText
                                    id="resonator-voice-actor-ko" aria-describedby="resonator-voice-actor-ko-help"
                                    formControlName="KO" />
                                <small class="resonator__data-additional-info" id="resonator-voice-actor-ko-help">
                                    The Korean voice actor of the resonator.
                                </small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 fst-italic">
                <p>More fields will be added in the future.</p>
            </div>
        </div>
    </div>

    @defer (when updateForm.dirty && updateForm.valid) {
    <p-dialog header="Are you sure you want to submit these changes?" [modal]="true" [closable]="false"
        [focusOnShow]="true" [focusTrap]="true" [(visible)]="isSubmitting" [keepInViewport]="true"
        [style]="{ width: '85vw'}">
        <p>
            By submitting these changes, you agree to the terms and conditions of our platform. Please review the
            changes you have made before proceeding.
        </p>

        <p-panel header="Protecting Our Platform" [toggleable]="true" toggler="header" styleClass="mb-2 md:mb-3"
            [collapsed]="true">
            <p class="text-2xl my-1">Data Collection</p>
            <p>
                To protect our service from harmful activities like spam, we will collect some basic device and network
                information when you submit your changes. This information helps us maintain the security and integrity
                of our platform. By proceeding, you agree to this collection.
            </p>

            <p class="text-warning">Misuse of this platform will result in a permanent ban from using our services.</p>

            <div class="mt-2">
                <p-toggleButton [onLabel]="'Okay!'" [offLabel]="'Take me back!'" [onIcon]="'pi pi-thumbs-up-fill'"
                    [offIcon]="'pi pi-thumbs-down-fill'" ariaLabel="Data Collection Agreement"
                    (onChange)="onDataCollectionConsentChanged($event)" formControlName="agreeToDataCollection" />
            </div>
        </p-panel>

        <ng-template pTemplate="footer">
            <div class="flex flex-row gap-2 justify-content-end">
                <p-button label="I need to check something" icon="pi pi-arrow-left" iconPos="right" severity="secondary"
                    (onClick)="isSubmitting = false" />
                <p-button label="Good to go" icon="pi pi-thumbs-up" iconPos="right" />
            </div>
        </ng-template>
    </p-dialog>
    }
</form>