:host {
	height: 100%;
}

.banner-list {
	padding-top: 1.25rem;
	overflow-y: auto;

	.banner-card {
		background: var(--surface-card);

		padding: 1rem;
		border-radius: 10px;
		height: 16vh;

		min-height: 8rem;
		max-height: 10rem;

		overflow: hidden;

		position: relative;

		transition: background 0.3s;

		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-webkit-user-drag: none;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&:hover {
			background: var(--surface-200);
			transition: background 0.3s;

			.banner-card__title {
				background: linear-gradient(
					to bottom,
					transparent,
					color-mix(in srgb, var(--surface-200), #00000000 50%)
				);
				transition: background 0.3s ease-in;
			}

			&:not(.selected) {
				overflow: visible;
			}
		}

		.banner-card__title {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0.5rem 1rem;

			background: linear-gradient(
				to bottom,
				transparent,
				color-mix(in srgb, var(--surface-card), #00000000 50%)
			);
			transition: background 0.3s ease-in;
		}

		.banner-card__image {
			position: absolute;
			bottom: 0.5rem;
			right: 0;
			height: 10rem;
			object-fit: contain;
			transition: height 0.2s ease-in-out;
		}

		&.selected {
			width: 100% !important;
			transition: width 0.3s ease-in-out;
			overflow: visible;

			.banner-card__image {
				height: 11rem;
				transition: height 0.2s ease-in-out;
			}
		}
	}
}

.xxl\:col-3 {
	@media screen and (min-width: 1400px) {
		width: 25%;
		flex: 0 0 auto;
		padding: 0.5rem;
	}
}
