:host {
	height: 100%;
}

.banner-list {
	margin-top: 1rem;

	overflow-y: hidden;

	.banner-card {
		background: var(--surface-card);

		padding: 1rem;
		border-radius: 10px;
		height: 16vh;

		min-height: 8rem;
		max-height: 10rem;

		position: relative;

		transition: background 0.3s;

		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-webkit-user-drag: none;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&:hover {
			background: var(--surface-200);
			transition: background 0.3s;
		}

		.banner-card__title {
			position: absolute;
			bottom: 1rem;
			right: 1rem;
		}
	}

	&:hover {
		overflow-y: auto;
	}
}

.xxl\:col-3 {
	@media screen and (min-width: 1400px) {
		width: 25%;
		flex: 0 0 auto;
		padding: 0.5rem;
	}
}
