:host {
	height: 100%;
}

.banner-list {
	padding-top: 1.25rem;
	overflow-y: auto;
	position: relative;

	.banner-card {
		background: var(--surface-card);

		padding: 1rem;
		border-radius: 10px;
		height: 16vh;

		min-height: 8rem;
		max-height: 10rem;

		overflow: hidden;

		position: relative;

		transition: background 0.3s;

		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-webkit-user-drag: none;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&:hover {
			background: var(--surface-200);
			transition: background 0.3s;

			.banner-card__title {
				background: linear-gradient(
					to bottom,
					transparent,
					color-mix(in srgb, var(--surface-200), #00000000)
				);
				transition: background 0.3s ease-in;
			}

			&:not(.selected) {
				overflow: visible;
			}
		}

		.banner-card__title {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0.5rem 1rem;

			background: linear-gradient(
				to bottom,
				transparent,
				color-mix(in srgb, var(--surface-card), #00000000)
			);
			transition: background 0.3s ease-in;
		}

		.banner-card__image {
			position: absolute;
			bottom: 0.5rem;
			right: 0;
			height: 10rem;
			object-fit: contain;
			transition: height 0.2s ease-in-out;
		}

		&.selected {
			width: 100% !important;
			transition: width 0.3s ease-in-out;
			overflow: visible;

			.banner-card__image {
				height: 11rem;
				transition: height 0.2s ease-in-out;
			}
		}
	}
}

.banner-list__container {
	position: relative;
}

.banner-list__container .banner-list__shade_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 96%; // to account for scrollbar
	height: 1.25rem;
	background: linear-gradient(to bottom, var(--surface-card), #00000000);
}
.banner-list__container .banner-list__shade_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 96%; // to account for scrollbar
	height: 1.25rem;
	background: linear-gradient(to top, var(--surface-card), #00000000);
}

.banner-history {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	padding: 1rem 0;
}

.banner-history__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 1rem;
	}

	.banner-history__item-pity {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0rem 0.5rem;
		border-radius: 0.5rem;
		font-size: small;
		font-weight: 600;

		&.hard-pity {
			background: var(--red-500) !important;
			color: var(--surface-card) !important;
		}

		&.soft-pity {
			background: var(--yellow-500) !important;
			color: var(--surface-card) !important;
		}

		&.no-pity {
			background: var(--green-500) !important;
			color: var(--surface-card) !important;
		}
	}

	.banner-history__item-quality {
		position: absolute;
		top: 0;
		left: 0;
		font-size: large;
		font-weight: 600;
		color: var(--yellow-500);
	}

	.banner-history__item-image {
		border: 2px solid var(--surface-100);
		border-radius: 50%;

		background: var(--surface-50);

		padding: 0.1rem;

		&.five-star {
			border-color: var(--yellow-500) !important;
		}
	}
}

.animated-underline {
	position: relative;
	display: inline-block;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: var(--surface-700);
		transform: scaleX(0);
		transform-origin: 0 0;
		transition: transform 0.3s;
		transition-delay: 0.3s;
	}

	&:hover::before {
		transform: scaleX(1);
		transition-delay: 0s;
	}
}
