<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <a pRipple class="flex align-items-center p-menuitem-link">
            <img ngSrc="meta/meta-icon.png" alt="Wubby Logo" width="48" height="48" priority>
            <span class="ms-2" [class.fw-semibold]="isHomeRoute" (click)="prefService.onHomeClick($event)">
                Wubby
            </span>
        </a>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
        <ng-container *ngIf="item.routerLink; else urlRef">
            <a [routerLink]="item.routerLink" class="p-menuitem-link" [attr.abby-route]="item.route">
                <span [class]="item.icon"></span>
                <span class="ms-2">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #urlRef>
            <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ms-2">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #noLink>
            <div class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ms-2">{{ item.label }}</span>
                <span class="pi pi-fw pi-angle-down ms-2"></span>
            </div>
        </ng-template>
    </ng-template>
    <ng-template pTemplate="end">
        <a pRipple class="flex align-items-center p-menuitem-link me-4 text-reset" [class.fw-semibold]="isHomeRoute"
            routerLink="/settings">
            <i class="bi bi-gear"></i>
        </a>
    </ng-template>
</p-menubar>