:host ::ng-deep {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	* {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}
}

#nav-logo {
	user-select: none !important;
	-moz-user-select: none !important;
	-webkit-user-select: none !important;
	-webkit-user-drag: none !important;
}

p-divider {
	margin-right: 0rem !important;
}
