<nav role="navigation" class="navbar">
    <div class="nav-logo">
        <img ngSrc="meta/meta-icon.png" alt="Wubby Logo" width="48" height="48" priority>
        <span class="ms-2 fw-semibold" (click)="prefService.onHomeClick($event)">
            Wubby
        </span>
    </div>
    <div class="nav-menu ms-2">
        <ng-container *ngFor="let item of items">
            <ng-container *ngIf="item.items; then dropdownItem; else normalItem"></ng-container>
            <ng-template #normalItem>
                <a [routerLink]="item.routerLink" class="nav-item">
                    <span class="item-icon" [class]="item.icon" [class.opacity-100]="item.styleClass"></span>
                    <span class="ms-2" [class]="item.styleClass">{{ item.label }}</span>
                </a>
            </ng-template>
            <ng-template #dropdownItem>
                <a class="nav-item">
                    <span class="item-icon" [class]="item.icon" [class.opacity-100]="item.styleClass"></span>
                    <span class="ms-2" [class]="item.styleClass">{{ item.label }} - TODO</span>
                    <i class="pi pi-angle-down ms-3"></i>
                </a>
            </ng-template>
        </ng-container>
    </div>
    <div class="nav-settings ms-auto">
        <a routerLink="/settings" class="nav-item">
            <i class="bi bi-gear"></i>
        </a>
    </div>
</nav>