<p-breadcrumb [model]="breadcrumbs" styleClass="mt-4 mb-0" />

<div class="page__title flex justify-content-between align-items-center mt-0">
    <div class="text-5xl">Pick an item</div>
    <div class="flex align-items-center">
        <span class="me-2">Updating</span>
        <p-dropdown [options]="updateTypeOptions" [(ngModel)]="updateType" placeholder="Select a type"
            optionLabel="label" optionValue="value" (onChange)="changeUpdateType($event.value)" />
    </div>
</div>

<div class="page__content">
    @if(updateType == 'Resonator') {<ng-container *ngTemplateOutlet="resonatorPicker" />}
    @else if(updateType == 'Weapon') {<ng-container *ngTemplateOutlet="weaponPicker" />}
    @else if(updateType == 'Banner') {<ng-container *ngTemplateOutlet="bannerPicker" />}
</div>

<ng-template #resonatorPicker>
    @defer (when resonators.length > 0; prefetch on immediate) {
    <div class="mt-2 grid">
        <div class="col-6 md:col-4 lg:col-2" *ngFor="let resonator of resonators; let i = index">
            <p-card styleClass="resonator__container border-{{resonator.rarity}}-star surface-ground"
                [routerLink]="['resonators',resonator.name.toLowerCase()]">
                <ng-template pTemplate="header">
                    <div class="resonator__image-container">
                        <img class="resonator__image"
                            [ngSrc]="'images/characters/T_IconRole_Pile_' + resonator.imageName.toLowerCase() + '_UI.png'"
                            [alt]="resonator.name" height="293" width="212" placeholder
                            onload="this.style.opacity = 1" />

                        <img class="resonator__element-img" [class]="resonator.element.toLowerCase()" height="36"
                            width="36" ngSrc="images/elements/T_IconElement{{resonator.element}}.png"
                            [alt]="resonator.element" [pTooltip]="resonator.element">
                        <div class="resonator__image-fade"></div>
                    </div>
                </ng-template>
                <div class="position-relative">
                    <div class="p-card-title resonator__name mt-2">{{ resonator.name }}</div>
                </div>
            </p-card>
        </div>
    </div>
    } @placeholder (minimum 0.5s) {
    <div class="mt-2 grid">
        <div class="col-6 md:col-4 lg:col-2" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
            <p-skeleton width="100%" height="400px" />
        </div>
    </div>
    }
</ng-template>

<ng-template #weaponPicker>WIP</ng-template>

<ng-template #bannerPicker>TBD</ng-template>