<div class="page__title">
    <p-toolbar>
        <div class="p-toolbar-group-start block">
            <p-iconField [iconPosition]="state['isReadingMemory'] ? 'right' : 'left'">
                <p-inputIcon [styleClass]="state['isReadingMemory'] ? 'pi pi-spin pi-spinner' : 'pi pi-search'" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconField>
            <p-button label="Filter" icon="pi pi-filter" iconPos="right" ariaLabel="Filter" severity="secondary"
                styleClass="ms-2" />
        </div>
        <div class="p-toolbar-group-end">
            <p-button label="Claim Event Items" icon="pi pi-gift" iconPos="right" severity="help" styleClass="me-2"
                size="small" />
            <p-selectButton [options]="displayTypes" [(ngModel)]="selectedDisplayType" optionLabel="label"
                optionValue="value" [allowEmpty]="false" (onChange)="onDisplayTypeChange()" />
        </div>
    </p-toolbar>
</div>

<div class="page__content grid mt-2">
    @if(selectedDisplayType === 0) {
    <div class="col-6 md:col-4 lg:col-2" *ngFor="let resonator of resonators; let i = index">
        <p-card styleClass="resonator__container border-{{resonator.rarity}}-star surface-ground">
            <ng-template pTemplate="header">
                <div class="resonator__image-container">
                    <img class="resonator__image object-fit-contain"
                        [ngSrc]="'images/characters/T_IconRole_Pile_' + resonator.imageName.toLowerCase() + '_UI.png'"
                        [alt]="resonator.name" height="226" width="226" [attr.priority]="i <= 5"
                        [attr.placeholder]="i > 5" />

                    <div class="resonator__image-fade"></div>
                </div>
            </ng-template>
            <div class="p-card-title resonator__name mt-2">
                {{ resonator.name }}
                <p-tag value="S{{resonator.sequenceCount}}"
                    [severity]="resonator.sequenceCount === 6? 'warning': 'secondary'"
                    [icon]="resonator.sequenceCount === 6? 'pi pi-sparkles': ''" *ngIf="resonator.sequenceCount" />
            </div>
        </p-card>
    </div>
    }

    @defer(when selectedDisplayType === 1; prefetch on immediate) {
    @if(selectedDisplayType === 1) {
    <div class="col-6 md:col-4 lg:col-2" *ngFor="let weapon of weapons; let i = index">
        <p-card styleClass="resonator__container border-{{weapon.rarity}}-star surface-ground">
            <ng-template pTemplate="header">
                <div class="resonator__image-container">
                    <img class="resonator__image object-fit-contain"
                        [ngSrc]="'images/weapons/T_IconWeapon160_' + weapon.resourceId + '_UI.png'" [alt]="weapon.name"
                        height="226" width="226" [attr.priority]="i <= 5" [attr.placeholder]="i > 5" />

                    <div class="resonator__image-fade"></div>
                </div>
            </ng-template>
            <div class="p-card-title resonator__name mt-2">
                {{ weapon.name }}
                <p-tag value="R{{weapon.sequenceCount}}" [severity]="weapon.sequenceCount === 6? 'warning': 'secondary'"
                    [icon]="weapon.sequenceCount === 6? 'pi pi-sparkles': ''" *ngIf="weapon.sequenceCount" />
            </div>
        </p-card>
    </div>
    }
    }
</div>