<div class="page__title flex">
    <h1 class="text-5xl">Resonators</h1>
    <p-button label="Add" icon="pi pi-user-plus" iconPos="right" ariaLabel="Contract a new resonator to join you"
        class="my-auto ms-2" />
</div>

<div class="page__content grid gap-2">
    <div class="col p-2">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci repellat fugit iste pariatur officiis dolor,
        rerum sunt voluptate! Perferendis animi omnis quas unde error iure totam sint eaque ipsa magnam.
    </div>
    <div class="col-12 md:col-3 border-round border-solid border-1 border-200 p-2 surface-card">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consequatur sapiente numquam ipsam illo odit
        mollitia culpa ipsa possimus at sunt sed aliquid tempora iure, recusandae officia doloremque optio sequi!
    </div>
</div>