/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--primary-color), #00000000 25%);
	background-clip: content-box;

	border: 5px solid transparent;
	border-radius: 10px;
}

body {
	height: 100%;
	font-family: var(--font-family);
	font-weight: normal;
	background: var(--surface-ground);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
	background: var(--surface-card);
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 1rem;
}

code:not(.nostyle) {
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}
