/* You can add global styles to this file, and also import other style files */
@import '__colors.scss';

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--primary-color), #00000000 25%);
	background-clip: content-box;

	border: 5px solid transparent;
	border-radius: 10px;
}

body {
	height: 100%;
	font-family: var(--font-family);
	font-weight: normal;
	background: var(--surface-ground);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
	background: var(--surface-card);
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 1rem;
}

code:not(.nostyle) {
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

.text-five-star {
	color: $kuro-yellow !important;
}

.text-four-star {
	color: $kuro-purple !important;
}

.text-three-star {
	color: $kuro-blue !important;
}

.border-5-star {
	border-color: $kuro-yellow !important;
}

.border-4-star {
	border-color: $kuro-purple !important;
}

.border-3-star {
	border-color: $kuro-blue !important;
}

.hard-pity {
	color: var(--red-500) !important;
}

.soft-pity {
	color: var(--yellow-500) !important;
}

.no-pity {
	color: var(--green-500) !important;
}

.border-aero {
	border-color: var(--teal-500) !important;
}

.border-fusion {
	border-color: var(--orange-500) !important;
}

.border-glacio {
	border-color: var(--cyan-500) !important;
}

.border-havoc {
	border-color: var(--pink-500) !important;
}

.border-electro {
	border-color: var(--purple-500) !important;
}

.border-spectro {
	border-color: var(--yellow-500) !important;
}
